<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaiSiBudejie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15D127E41D65EB26004B6443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15D127FD1D65EB26004B6443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15D128081D65EB26004B6443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
